.main-section {
  background-color: #C2E7FF;
  margin: auto;
  position: relative;
  padding: 3rem;
  padding-right: 5rem;
  max-width: max-content;
  min-height: 418px;
  text-align: center;
}

.main-section h1 {
  font-size: 2em;
  margin-top: 0;
  font-style: italic;
}