.expenseAccounting {
  margin: auto;
  position: relative;
  padding: 2rem;
  padding-right: 5rem;
  box-sizing: border-box;
  width: 800px;
  min-height: 418px;
  text-align: center;
}

.expenseAccounting h1 {
  font-size: 2em;
  margin-top: 0;
  font-style: italic;
}

@media (max-width: 795px) {
  .expenseAccounting {
    box-sizing: border-box;
    padding-right: 3rem;
    width: 477px;
  }

  .expenseAccounting h1 {
    margin-bottom: 0;
    text-align: start;
  }
}