.displayExpenses {
  font-size: 1.5em;
}

.displayExpensesList {
  text-align: left;
}

.displayExpenses__sumExpense {
  text-align: right;
  font-weight: 700;
}

@media (max-width: 795px) {
  .displayExpenses__sumExpense {
    margin-bottom: 1rem;
  }
}