.display-expenses {
  font-size: 1.5em;
}

.display-expenses-list {
  text-align: left;
}

.display-expenses-list-element {
  display: flex;
  font-weight: 700;
}

.display-expenses-list-element > * {
  margin: 0.5em 0.7em;
}

.display-expenses-list-element__expenseName {
  margin: 0.5em 0;
  width: 300px;
}

.display-expenses__sumExpense {
  text-align: right;
}