.expenseElement {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.expenseElementInfo  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenseElementInfo > * {
  margin: 0.5em 0.7em;
}

.expenseElementInfo > p {
  height: 23px;
}

.expenseElementInfo__howMuch {
  width: 100px;
}

.expenseElement__expenseName {
  width: 290px;
}

.expenseElementInfoButtons {
  margin-right: 0;
}

.expenseElementInfoButtons__edit {
  background-image: url('../svg/pencil.svg');
}

.expenseElementInfoButtons__delete {
  background-image: url('../svg/trash.svg');
}

.expenseElementInfoButtons__edit, .expenseElementInfoButtons__delete {
  background-repeat: no-repeat;
  background-position: center;
  background-color: initial;
  border: none;
  padding: 1.2em;
  cursor: pointer;
}

@media (max-width: 795px) {
  .expenseElement {
    margin-bottom: 1em;
  }

  .expenseElementInfo {
    flex-direction: column;
    align-items: end;
  }

  .expenseElement__expenseName {
    width: 176px;
  }

  .expenseElementInfo > * {
    margin: 1rem 0;
    text-align: end;;
  }

  .expenseElementInfoButtons {
    display: flex;
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    align-self: center;
  }

  .expenseElementInfoButtons > * {
    background-size: 45px;
  }
}