.expenseElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.expenseElement > * {
  margin: 0.5em 0.7em;
}

.expenseElement > p {
  height: 23px;
}

.expenseElement__expenseName {
  margin: 0.5em 0;
  width: 300px;
}

.expenseElementButtons {
  margin-right: 0;
}

.expenseElementButtons__edit {
  background-image: url('../svg/pencil.svg');
}

.expenseElementButtons__delete {
  background-image: url('../svg/trash.svg');
}

.expenseElementButtons__edit, .expenseElementButtons__delete {
  background-repeat: no-repeat;
  background-position: center;
  background-color: initial;
  border: none;
  padding: 1.2em;
  cursor: pointer;
}