.expense {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  align-items: center;
}

.expenseInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenseInfo > * {
  margin: 0.5em 0.7em;
}

.expenseInfo > p {
  height: 23px;
}

.expenseInfo__howMuch {
  width: 100px;
}

.expense__expenseName {
  width: 250px;
}

.expenseInfoButtons {
  margin-right: 0;
  display: flex;
}

.expenseInfoButtons__edit {
  background-image: url('../svg/pencil.svg');
}

.expenseInfoButtons__delete {
  background-image: url('../svg/trash.svg');
}

.expenseInfoButtons__edit,
.expenseInfoButtons__delete {
  background-repeat: no-repeat;
  background-position: center;
  background-color: initial;
  border: none;
  padding: 1.2em;
  cursor: pointer;
}

@media (max-width: 795px) {
  .expense {
    margin-bottom: 1em;
  }

  .expenseInfo {
    flex-direction: column;
    align-items: end;
  }

  .expense__expenseName {
    width: 176px;
  }

  .expenseInfo > * {
    margin: 1rem 0;
    text-align: end;;
  }

  .expenseInfoButtons {
    display: flex;
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    align-self: center;
  }

  .expenseInfoButtons > * {
    background-size: 45px;
  }
}