.editingExpense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.editingExpense > * {
  margin: 0.5em 0.7em;
}

.editingExpense__expenseName {
  margin: 0.5em 0;
  width: 150px;
}

.editingExpenseButtons {
  margin-right: 0;
}

.editingExpenseButtons__applyChanges {
  background-image: url('../svg/check.svg');
}

.editingExpenseButtons__delete {
  background-image: url('../svg/trash.svg');
}

.editingExpenseButtons__applyChanges, .editingExpenseButtons__delete {
  background-repeat: no-repeat;
  background-position: center;
  background-color: initial;
  border: none;
  padding: 1.2em;
  cursor: pointer;
}

@media (max-width: 795px) {
  .editingExpense {
    display: grid;
    grid-template-columns: repeat(3, 115px);
  }

  .editingExpense__howMuch {
    margin-right: 0;
  }

  .editingExpense input {
    width: 75px;
  }

  .editingExpenseButtons {
    width: 350px;
    display: flex;
    flex-direction: row;
  }
}