.editingExpense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.editingExpense > * {
  margin: 0.5em 0.7em;
}

.editingExpense__expenseName {
  margin: 0.5em 0;
  width: 300px;
}

.editingExpenseButtons {
  margin-right: 0;
}

.editingExpenseButtons__edit {
  background-image: url('../svg/pencil.svg');
}

.editingExpenseButtons__delete {
  background-image: url('../svg/trash.svg');
}

.editingExpenseButtons__edit, .editingExpenseButtons__delete {
  background-repeat: no-repeat;
  background-position: center;
  background-color: initial;
  border: none;
  padding: 1.2em;
  cursor: pointer;
}