
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@100;300&display=swap');

.main-section {
  background-color: #C2E7FF;
  font-size: 1.1rem;
  margin: auto;
  padding: 3rem;
  width: calc(800px - 3rem);
  height: calc(466px - 3rem);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.main-section h1 {
  font-weight: 300;
  font-size: 2em;
  margin-top: 0;
  font-style: italic;
}

.main-section-form {
  display: flex;
  align-items: flex-end;
}

.main-section-form > div {
  text-align: left;
  display: flex;
  margin-right: 1rem;
  flex-direction: column;
  font-size: 0.8em;
}

.main-section-form label {
  padding-bottom: 0.5rem;
  font-weight: 300;
}

input, button{
  padding: 1em;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
  border: 0.1px solid #c6c6c6;
}

input::placeholder {
  opacity: 0.5;
}

.main-section__warning {
  color: #ff0000;
  width: max-content;
  margin-top: 1rem;
}

#whereSpent {
  width: 350px;
}

#howMuch {
  width: 160px;
}

button{
  font: inherit;
  border: none;
  padding: 0.7em 1em;
  cursor: pointer;
  background-color: #76C2A5;
}