.main-form {
  display: flex;
  align-items: flex-end;
}

.main-form>div {
  text-align: left;
  display: flex;
  margin-right: 1rem;
  flex-direction: column;
  font-size: 0.8em;
}

input::placeholder {
  opacity: 0.5;
}

.whereInput {
  width: 300px;
}

.costInput {
  width: 160px;
}