.expenseForm {
  display: flex;
  align-items: flex-end;
}

.expenseForm>div {
  text-align: left;
  display: flex;
  margin-right: 1rem;
  flex-direction: column;
  font-size: 0.8em;
}

#whereSpent {
  width: 300px;
}

#howMuch {
  width: 160px;
}